@import "compass";

$flatOrange:#f39c12;
$flatBlue:#59abe3;
$darkBlue:#2c3e50;
$greenSea:#16a085;

body {
  font-family: 'Roboto', sans-serif;
  background-color: $greenSea;
}

.title {
  max-width: 750px;
  margin: 0 auto;
  color: $darkBlue;

  h1 {
    font-size: 66px;
    padding-top: 85px;
    margin: 0;
  }

  h2 {
    margin: 0;
  }
}

.login {
  width: 750px;
  margin: 0 auto;
}
