/* line 6, ../sass/argus.scss */
body {
  background-color: #59abe3;
}

/* line 10, ../sass/argus.scss */
.title {
  text-align: center;
  padding: 66px;
}

/* line 15, ../sass/argus.scss */
.login {
  text-align: center;
}
